
/* header section */


.header{
    background-image: url('./assets/Header-Service platform website.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}


.logo{
    margin-right: auto;
    margin-top: 20px;
}


nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 300px;
}



ul{
    display: flex;
    margin-right: 40px;
    list-style: none;
    margin-top: 25px;
}


li{
    margin-right: 40px;
}



a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #031C2E;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    font-style: normal;
}




a:hover{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #f1b101;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
}




.get{
    background-color: #35332f;
    color: #fff;
    padding: 20px 30px 20px 30px ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}
.get:hover{
    background-color: #fce7ae;
    color: #000;
    padding: 20px 30px 20px 30px ;
    /* border: 1px solid #000; */
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}



.text-container{
    margin: 0 300px;
    margin-top: 175px;
    display: flex;
}


.t11{
    color: #35332F;
    font-family: "Volkhov", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 78px */
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}


.ui{
        color: #35332F;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%; /* 28.04px */
    letter-spacing: 0.3px;
}

b{
    font-weight: bolder;
}


.get-1{
    background-color: #35332f;
    color: #fff;
    padding: 20px 40px 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}


.get-1:hover{
    background-color: #f6d6d3;
    color: #000;
    padding: 20px 40px 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}



.abou{
    margin-left: 268px;
    width: 645px;
    height: 495px;
}


/* main section */

.banner-section{
    background-image: url(./assets/about\ us-Service\ platform\ website.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 636px;
    display: flex;
}


.leave{
    color: #35332F;
    font-family: "Volkhov", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.7%; /* 52.28px */
    text-transform: capitalize;

}


.own{
    color: #35332F;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%; /* 28.04px */
    letter-spacing: 0.3px;

}


.banner{
    margin: 0 300px;
    margin-top: 165px;
}




.imag{
    margin-left: 300px;
    margin-top: 150px;
}




.no{

    background-color: #fce7ae;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 60px 20px 60px;
    font-size: 20px;
    font-family: "Volkhov", sans-serif;
    font-weight: 700;

}






.no:hover{

    background-color: #c4f1d7;
    color: #000;
    border: 2px solid ;
    border-radius: 10px;
    padding: 20px 60px 20px 60px;
    font-size: 20px;
    font-family: "Volkhov", sans-serif;
    font-weight: 700;
    cursor: pointer;
}



.may{
    color: #35332F;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.7%; /* 52.28px */
    text-transform: capitalize;
    margin-top: 150px;
    margin-bottom: 30px;
}




.hah{
    width: 362px;
    height: 307px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #35332F;
    background: #FBF5E7;
}




.text2{
    width: 383px;
    height: 358px;
    flex-shrink: 0;
    border-radius: 15px 15px 15px 15px;
    background: #FFF;
    padding-left: 35px;
    padding-top: 35px;
    text-align: center;
    margin-right: 29px;
    margin-top: 30px;
}





.card-container-section-name-on-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    margin: 0 400px;
}


.text5{
    width: 362px;
    height: 307px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #35332F;
    background: #FBF5E7;

}




.text5:hover{
    width: 362px;
    height: 307px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #35332F;
    background: #c4f1d7;
    cursor: pointer;
}







.bank{
    color: #35332F;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%; /* 22.432px */
    letter-spacing: 0.3px;
}





.bank2{
    color: #35332F;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%; /* 22.432px */
    letter-spacing: 0.3px;
    margin-right: 70px;
}






.simple-and-eas1{
    display: flex;
    color: #35332F;
    font-family: Volkhov;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.7%; /* 26.14px */
    text-transform: capitalize;
}




.text3{
    width: 362px;
    height: 307px;
    border-radius: 10px;
    border: 2px solid #35332F;
    background: #FBF5E7;
    margin-top: 40px;
}





.text3:hover{
    width: 362px;
    height: 307px;
    border-radius: 10px;
    border: 2px solid #35332F;
    background: #f6d6d3;
    margin-top: 40px;
    cursor: pointer;
}






.simple-and-eas1, .bank2, #card6{
    margin-left: 40px;
}




#card6{
    margin-top: 50px;
}





.container-section-container-section-images-container-name-one-play-container{
    background-image: url(./assets/about\ us-Service\ platform\ website.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 584px;
    margin-top: 150px;
    margin-bottom: 150px;
}







.text-container-section-name-one{
    margin:  0 300px;
}




.f2{
    margin-top: 20px;
}





.image-container{
    margin-top: 193px;
}




.you{
    color: #35332F;
    font-family:" Volkhov", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.7%; /* 52.28px */
    text-transform: capitalize;
}



.st{
    color: #35332F;
    font-family:" Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%; /* 28.04px */
    letter-spacing: 0.3px;
}








.card-container-text{
    width: 362px;
    height: 498px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FBF5E7;
    margin-top: 80px;
}


.carr{
    display: flex;
    margin-left: 447px;
    gap: 30px;
}

.card-container-text4{
    width: 362px;
    height: 498px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #c4f1d7;
    margin-top: 80px;
}




.for{
    padding-top: 10px;
    color: #35332F;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    text-transform: capitalize;
}





.class{
    margin-top: 40px;
    color: #35332F;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 20%; /* 90px */
    text-transform: capitalize;

}



.id{
    color: #35332F;
    font-family:" Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 42px;
}




.html{
    padding: 20px 76px 19px 76px;
    color: #FFF;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    background-color: #031C2E;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 42px;
}




.html:hover{
    padding: 20px 76px 19px 76px;
    color: #000;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    background-color: #fce7ae;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 42px;
}










.fae{
    color: #35332F;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 60px */
    text-transform: capitalize;
}






.sub-container-section{
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 300px;
    width: 1346px;
    height: 511px;
    flex-shrink: 0;
    margin-top: 116px;
    margin-left: 350px;
    margin-bottom: 3%;
}







.eey{
    color: #F2E7E1;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding-top: 140px;
}





.hjg{
    color: #FDFBF6;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%; /* 28.04px */
    letter-spacing: 0.3px;
    
}





.re{
    border-radius: 5px;
    background: #FCE7AE;
    padding: 20px 60px 20px 60px;
    border: none;
    color: #3B3041;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 170.187%; /* 34.037px */
    letter-spacing: 0.2px;
    text-transform: capitalize;
    margin-left: 560px;
    margin-top: 60px;
}






.re:hover{
    border-radius: 5px;
    background: #c4f1d7;
    padding: 20px 60px 20px 60px;
    border: none;
    color: #3B3041;
    text-align: center;
    font-family: "Volkhov", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 170.187%; /* 34.037px */
    letter-spacing: 0.2px;
    text-transform: capitalize;
    margin-left: 560px;
    margin-top: 60px;
}







footer{
    height: 200px;
    flex-shrink: 0;
    background: #F7ECD6;
    margin-top: 10%;
}


.ho{
    display: flex;
    padding: 52.64px 120.92px 120.93px;
    align-items: center;
}



.div-2{
    margin-left: 80.02%;
}









.img-text-card{
    margin-bottom: 150px;
}
